*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-content{
    background: #971313d7;
}
/*navbar content*/
.navbar{
    background-color: #bd4141;
    padding-left: 50px;
    font-weight: bold;
}
/*navbar content end*/